.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.remove-all-button {
  border-style: none;
  background-color: transparent;
  color: #0b69ff;
  align-self: flex-end;
  font-weight: 700;
}

.total-summary {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.checkout-button {
  border-style: none;
  border-radius: 5px;
  background-color: #0b69ff;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
}

.order-total-text {
  color: #616e7c;
  font-weight: 400;
  font-size: 20px;
}

.bold-text {
  font-weight: 700;
  margin: 5px 0px;
}

.bolder {
  font-weight: bold;
}

.modal {
  font-size: 12px;
  background-color: #e2dce3;
  font-family: 'Roboto';
  border-radius: 8px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 23px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin: 5px 0px;
}
.modal > .content {
  width: 100%;
  padding: 10px 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.space-remover {
  padding: 0px;
}

.final-price-para {
  margin-left: 300px;
}

.bg-span {
  background-color: red;
}
